._stats {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  overflow-x: auto;
  padding: 16px;
}
._stats .paper {
  flex: 1;
}

.cat_gp {
  padding: 16px;
  display: flex;
  row-gap: 32px;
  min-width: 280px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.cat_gp .title {
  font-weight: 500;
}
.cat_gp .amount {
  font-size: 24px;
  font-weight: bold;
}
.cat_gp ._icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cat_gp ._icon.income {
  background: #07be0732;
}
.cat_gp ._icon.income .icon {
  color: #07be07;
}
.cat_gp ._icon.expenses {
  background: #ff000025;
}
.cat_gp ._icon.expenses .icon {
  color: #fd3535;
}
.cat_gp ._icon.net {
  background: #086bf533;
}
.cat_gp ._icon.net .icon {
  color: #086bf5;
}
._chart {
  padding: 16px;
  height: 100% !important;
  overflow: auto;
}
._chart .title {
  font-weight: bold !important;
  font-size: 18px;
}
.chart_wrapper {
  display: flex;
  justify-content: center;
  min-height: 300px;
  max-height: 400px;
}
.sectionTitle {
  margin-bottom: 1rem;
}
.sectionTitle p {
  font-size: 28px;
  font-weight: bold !important;
}
.sectionTitle small {
  font-weight: 500;
}
._data_display {
  padding: 16px;
  overflow-x: auto;
}
._data_display .title {
  font-weight: bold !important;
  font-size: 18px;
  margin-bottom: 1rem;
}
._data ._header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  padding: 12px;
  gap: 12px;
  border-radius: 5px;
  margin-bottom: 6px;
  background: #f1f1f1;
  min-width: 500px;
}
._data ._header div {
  font-weight: bold !important;
}
._data ._header div:last-child {
  text-align: right;
}
._data ._content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin-bottom: 6px;
  min-width: 500px;
}
._data ._content div:last-child {
  text-align: right;
}

._data ._content div:nth-child(2) {
  padding: 4px 8px;
  border-radius: 5px;
  width: max-content;
  color: #fff;
  font-weight: bold !important;
  width: 90px;
  text-align: center;
}
@media (max-width: 400px) {
  .chart_wrapper {
    min-width: 400px;
  }
}
@media (min-width: 768px) {
  .sectionTitle {
    display: none;
  }
}
