.sidebar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.sidebar_links {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  gap: 16px;
}
.sidebar_icon {
  color: #8f959c;
  font-size: 24px !important;
}
.sidebar_links ul {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}
.sidebar_links ul li:nth-child(4) {
  display: none;
}
.sidebar_links ul .active * {
  color: #1561f0;
}

.sidebar_links ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_links ul li a span {
  font-size: 12px;
  font-weight: 400;
  color: #8f959c;
}
.sidebar_links ul .active a span {
  font-size: 12px;
  font-weight: 600 !important;
}

.header {
  width: 100%;
  background: #fafafa;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 4rem;
}
.header_titles {
  display: none;
}
.header_titles p {
  font-size: 20px;
  font-weight: bold !important;
}
.header_titles small {
  font-weight: 500;
}
.user_info {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
.user_info > span {
  font-weight: 600 !important;
  font-size: 14px;
  display: none;
}

@media (min-width: 768px) {
  .nav_bar {
    align-items: center;
  }

  .header_titles p {
    font-size: 28px;
    font-weight: bold !important;
  }
  .user_info > span {
    font-weight: bold !important;
    display: flex;
  }
  .sidebar_links ul li a span {
    font-size: 16px;
  }
  .sidebar_links ul .active a span {
    font-size: 16px;
  }
  .sidebar_links ul li:nth-child(4) {
    display: block;
  }
}

@media (min-width: 920px) {
  .sidebar {
    display: block;
    position: relative;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    width: 300px;
    min-height: calc (100vh - 4rem);
  }
  .sidebar_links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 12px;
  }

  .sidebar_links ul {
    list-style: none;
    padding: 0;
    display: block;
  }
  .sidebar_links ul li {
    margin-bottom: 8px;
    border-left: 5px solid transparent;
  }
  .sidebar_links ul li:hover {
    background: #f1f4f6;
  }
  .sidebar_links ul .active {
    border-left: 5px solid #1561f0;
  }
  .sidebar_links ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 12px 16px;
    font-weight: 500;
  }
}
