._dialog_paper {
  width: 100vw !important;
  margin: 32px 8px !important;
  border-radius: 7px !important;
  max-width: 400px !important;
}
.content {
  padding: 32px 16px;
}
.content h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 20px;
}
.content P {
  color: #939297;
}
.footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  background: #ededef;
}
.footer button {
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
}
.footer button:first-child {
  color: #a8a7ad;
}
.footer button:last-child {
  background: #e65555;
  color: #fff;
}
