._title {
  font-size: 20px;
  font-weight: bold !important;
  margin-bottom: 1.5rem;
}
._details_wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #fff;
}
._details_wrapper ._details {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
}
._details_wrapper ._details:last-child {
  border: none;
}
._details_wrapper ._details div:first-child {
  font-weight: 600;
}
._edit_btn {
  padding: 6px 16px;
  border: 2px solid #333;
  border-radius: 3.5px;
  display: inline-block;
  transition: 0.1s all ease-out;
  font-weight: 600;
  font-size: 14px;
}
._edit_btn:hover {
  background-color: #333;
  color: #fff;
}
._profile_form {
  max-width: 600px;
  margin-bottom: 3rem;
}
.form_control {
  margin-bottom: 20px;
}
._profile_form label {
  font-weight: 600;
  display: block;
  margin-bottom: 8px !important;
}
._profile_form ._inputField {
  background-color: #fff;
}
._profile_form ._inputField fieldset {
  border-radius: 5px !important;
}
._profile_form ._inputField div:first-child {
  height: 3rem !important;
}
._profile_form ._selectField {
  height: 3rem !important;
  background-color: #fff;
}
._profile_form ._selectField fieldset {
  border-radius: 5px !important;
}
._profile_form ._selectField div:first-child {
  padding: 0px;
  display: flex;
  align-items: center;
  height: 3rem !important;
  padding-left: 16px !important;
}

._profile_form ._dateField {
  background-color: #fff;
}
._profile_form ._dateField fieldset {
  border-radius: 5px !important;
}
._profile_form ._dateField div:first-child {
  height: 3rem !important;
}
._currency_menu {
  font-weight: bold;
}
._currency_menu span {
  font-weight: 400 !important;
}
._submit_btn {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  margin-top: 1rem;
}
._submit_btn a {
  color: #666;
  font-weight: bold !important;
}
._submit_btn button {
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold !important;
  background-color: #1561f0;
  color: #fff;
}
.validationMessage {
  color: #ff0000;
}
@media (min-width: 768px) {
  ._title {
    font-size: 28px;
  }
}
